@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "myFont";
  src: url("fonts/OffBit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("fonts/OffBit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --brand: #f60900;
  --white: #fff;
  --white-2: #e0e0e0;
  --white-3: #888888;
  --black: #000000;
  --black-2: #1c1a1a;
  --black-3: #2c2c2c;
  --border: 1px solid #1e1e1e;
  --shape: squircle;
  --myFont: "myFont", sans-serif;
}

body {
  font-family: "Urbanist", sans-serif;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  min-height: 100vh;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.heading {
  font-family: var(--myFont);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--brand);
}

#parent {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: end;
  justify-content: center;
  width: auto;
  height: 100px;
  transition: all 0.5s ease;
}

.social-icon {
  background: var(--black-2);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 42px;
  corner-shape: var(--shape);
  cursor: pointer;
  transition: all 0.5s ease;
}

.social-icon:hover {
  background: #2b0100;
}

/* for child 1 */

.parent-child-1 .social-icon:nth-child(1) {
  width: 70px;
  height: 70px;
}

.parent-child-1 .social-icon:nth-child(2) {
  width: 60px;
  height: 60px;
}

.parent-child-1 .social-icon:nth-child(3) {
  width: 50px;
  height: 50px;
}

/* for child 2 */

.parent-child-2 .social-icon:nth-child(1) {
  width: 60px;
  height: 60px;
}

.parent-child-2 .social-icon:nth-child(2) {
  width: 70px;
  height: 70px;
}

.parent-child-2 .social-icon:nth-child(3) {
  width: 60px;
  height: 60px;
}

.parent-child-2 .social-icon:nth-child(4) {
  width: 50px;
  height: 50px;
}

/* for child 3 */

.parent-child-3 .social-icon:nth-child(1) {
  width: 50px;
  height: 50px;
}

.parent-child-3 .social-icon:nth-child(2) {
  width: 60px;
  height: 60px;
}

.parent-child-3 .social-icon:nth-child(3) {
  width: 70px;
  height: 70px;
}
.parent-child-3 .social-icon:nth-child(4) {
  width: 60px;
  height: 60px;
}

.parent-child-3 .social-icon:nth-child(5) {
  width: 50px;
  height: 50px;
}

/* for child 4 */

.parent-child-4 .social-icon:nth-child(2) {
  width: 50px;
  height: 50px;
}

.parent-child-4 .social-icon:nth-child(3) {
  width: 60px;
  height: 60px;
}
.parent-child-4 .social-icon:nth-child(4) {
  width: 70px;
  height: 70px;
}

.parent-child-4 .social-icon:nth-child(5) {
  width: 60px;
  height: 60px;
}

/* for child 4 */

.parent-child-5 .social-icon:nth-child(3) {
  width: 50px;
  height: 50px;
}
.parent-child-5 .social-icon:nth-child(4) {
  width: 60px;
  height: 60px;
}

.parent-child-5 .social-icon:nth-child(5) {
  width: 70px;
  height: 70px;
}
